certs
.directory
build/dispatcher/dispatcher
build/handler/ion-handler
cmd/dispatcher/dispatcher
cmd/handler/handler
.memdb
.dev
**/debug.test
cmd/dispatcher/debug
internal/app/management/client/client

**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/terraform-provider-*
client
ionctl
frontapi
imagetag.temp
**/debug
cmd/ion/module/module.go
cmd/management/management
cmd/ion/ion
tf/