.directory
build/dispatcher/dispatcher
build/handler/ion-handler
cmd/dispatcher/dispatcher
cmd/handler/handler
tools/publishevent/main.go
tools/publishevent/publishevent
.memdb
.dev
**/debug.test
dispatcher
servicebus-publisher
servicebus-subscriber
cmd/dispatcher/debug
internal/app/management/client/client

**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/terraform-provider-*
client
